@model Vidly.ViewModel.CustomerFormViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>New Customer</h1>

@using(Html.BeginForm("Save", "Customer"))
{
    <div class="form-group">
        @Html.LabelFor(x => x.CustomerModel.Name)
        @Html.TextBoxFor(x => x.CustomerModel.Name, new { @class="form-control"} )
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.CustomerModel.BirthdayDate)
        @Html.TextBoxFor(x => x.CustomerModel.BirthdayDate, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.CustomerModel.MembershipTypeId)
        @Html.DropDownListFor(x => x.CustomerModel.MembershipTypeId, new SelectList(Model.MembershipType, "Id", "Name"),"Select Membership Type",  new { @class = "form-control" })
    </div>
    <div class="form-check">
        <label class="form-check-label">
            @Html.CheckBoxFor(x => x.CustomerModel.IsSubscribedToNewsLetter, new {@class = "form-check-input" }) Do you want to subscribe to our newsletter?
        </label>
    </div>
    @Html.HiddenFor(x => x.CustomerModel.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}


