@model Vidly.ViewModel.MovieFormViewModel

@{
    ViewBag.Title = "New Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@Model.Title()</h2>


@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.ReleaseDate)
        @Html.TextBoxFor(x => x.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.GenreModelId)
        @Html.DropDownListFor(x => x.GenreModelId, new SelectList(Model.GenreModelList, "Id", "Name"), "Select Genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.GenreModelId)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.NumberInStock)
        @Html.TextBoxFor(x => x.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.NumberInStock)
    </div>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}